@import "variables";
.container {
  margin-bottom: 5rem;
  .card {
    box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 1);
    max-width: 300px;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 1rem;

    img {
      width: 200px;
      border-radius: 50%;
      margin: 1.5rem 0;
    }

    h1 {
      color: red;
    }

    h3 {
      color: green;
    }
    .buttons {
      button {
        border: none;
        border-radius: 10px;
        margin-right: 0.5rem;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
      .small {
        padding: 0.5rem 1rem;
        background-color: $neon;
      }

      .large {
        padding: 0.5rem 1.7rem;
        background-color: $olive;
      }
    }
  }
}
